.board {
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  width: 450px;
  height: 450px;
  /* margin-left: 100px; */
}

/* .board.player {
  
} */

.board > .cell {
  background-color: rgb(97, 151, 170);
  border: 2px solid navy;
  cursor: pointer;
}

.cell:hover {
  background-color: orange;
}

.cell.ghost {
  background-color: rgba(0, 255, 0, 0.5);
  /* Light green highlight */
}

.cell > .ship {
  background-color: rgb(63, 215, 16);
  width: 100%;
  height: 100%;
}

.ship.hover {
  background-color: blue;
}

.ship.invalid {
  background-color: red;
  z-index: 1;
}
