.game-container {
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: max(20px, 10vw);
}

.board-container {
  width: min(80vw, 100%);
  max-width: 450px;
  min-width: 250px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.board-container p {
  font-family: "orbitron-md", sans-serif;
  font-weight: bold;
  font-size: clamp(1rem, 1.5vw, 1.8rem);
}

.board {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

.board > .cell {
  background-color: rgb(97, 151, 170);
  border: 2px solid navy;
  outline: none;
}

.cell > .ship {
  background-color: #11d311;
  width: 100%;
  height: 100%;
}

.ship.hide {
  opacity: 0;
}

.ship.hit,
.cell.mark,
.cell.miss {
  font-weight: bold;
  text-align: center;
  font-size: clamp(1rem, 2vw, 2rem);
}

.ship.hit {
  background-color: rgb(149, 34, 34);
}

.cell.miss {
  color: rgb(149, 34, 34);
}

.cell:disabled {
  background-color: rgb(109, 125, 130);
  opacity: 1;
  cursor: not-allowed;
  color: rgb(34, 22, 22);
}

.cell.miss:disabled {
  color: #ff6f61;
}

button.start-game {
  align-self: center;
  width: fit-content;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  border-radius: 18px;
  font-family: "orbitron-md", sans-serif;
  font-size: clamp(1rem, 2vw, 2rem);
  font-weight: bold;
  background-color: #11d311;
  cursor: pointer;
}

.start-game.hidden {
  display: none;
}

@media (max-width: 1024px) {
  .game-container {
    width: 90%;
    gap: max(20px, 5vw);
  }
}

@media (max-width: 768px) {
  .game-container {
    margin: 5px auto;
    width: 96%;
    gap: max(20px, 2vw);
  }
}

@media (max-width: 550px) {
  .game-container {
    flex-direction: column;
    gap: clamp(24px, 8vw, 40px);
    width: 98%;
    margin: 0 auto;
  }

  .ship.hit,
  .cell.mark,
  .cell.miss {
    font-size: clamp(25px, 4vh, 2rem);
  }
}
