.board-container.hidden {
  display: none;
}

.board-container.computer p {
  color: #ff6f61;
}

.computer .cell {
  cursor: pointer;
}

.board.computer:not(.disabled) .cell:hover {
  background-color: red;
  cursor: pointer;
}

.board .cell:disabled:hover {
  background-color: rgb(109, 125, 130);
  cursor: not-allowed;
}

.board.computer.disabled {
  pointer-events: none;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: not-allowed;
}
