dialog {
  width: min(200px, 50vw);
  margin: auto;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  background-color: var(--color-accent-dark);
  font-weight: bold;
  color: #fff;
}

dialog div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

dialog button {
  font-weight: inherit;
  font-size: 1.2rem;
  width: 50px;
  padding: 5px;
  margin: 0 auto;
}
