.board-container.player p {
  color: rgb(63, 215, 16);
}

.board.player.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.board.player .ship {
  cursor: pointer;
}

.cell.valid {
  background-color: rgba(0, 255, 0, 0.5);
}

.cell.invalid {
  background-color: #fe422d;
}

.ship.hover {
  background-color: blue;
  opacity: 0;
  /* display: none; */
}

.ship.invalid {
  background-color: red;
  z-index: 1;
}

button.reposition-ship {
  background-color: #11d311;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: clamp(0.8rem, 1.2vw, 1.2rem);
  cursor: pointer;
}

.reposition-ship.hidden {
  display: none;
}
