.board-container.player p {
  color: var(--color-success);
}

.board.player.disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.board.player .ship {
  cursor: pointer;
}

.ship.hover {
  background-color: blue;
  opacity: 0;
  /* display: none; */
}

.cell.valid {
  background-color: var(--color-success-transparent);
}

.cell.invalid {
  background-color: var(--color-alert);
}

.reposition-ship {
  background-color: var(--color-success);
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-size: clamp(1rem, 1.2vw, 1.2rem);
  cursor: pointer;
}

.reposition-ship:hover {
  filter: brightness(var(--hover-brightness));
}

/* .ship.invalid {
  background-color: red;
  z-index: 1;
} */
